<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Service Request Search</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<th:block th:include="fragments/header :: header"></th:block>
			<div class="container firstrow">
				<div class="col-sm-12 col-md-12 col-lg-12 transbox">
					<div class="row ">
						<div class="col-sm-12 col-md-12 col-lg-12 ">
							<div class="col-sm-1 col-md-1 col-lg-1 ">
								<span> Request ID</span>

							</div>
							<div class="col-sm-2 col-md-2 col-lg-2 ">
								<span>Type</span>

							</div>
							<div class="col-sm-3 col-md-3 col-lg-3 ">
								<span>Location</span>
							</div>

							<div class="col-sm-5 col-md-5 col-lg-5 ">
								<span>Note</span>

							</div>
							<div class="col-sm-1 col-md-1 col-lg-1 ">

								<span>Action</span>

							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12 row2  row"
							th:each="s : ${serviceRequests}">
							<div class="col-sm-1 col-md-1 col-lg-1 ">
								<span th:text="${s.id}"></span>
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2 ">
								<span th:text="${s.serviceType}"></span>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3">
								<span th:text="${s.location}"></span>
							</div>

							<div class="col-sm-5 col-md-5 col-lg-5">
								<span th:text="${s.note}"></span>
							</div>

							<div class="col-sm-1 col-md-1 col-lg-1">
								<a th:href="@{/edit/{id}(id=${s.id})}"><span
									class="glyphicon glyphicon-edit">Edit</span></a>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>

</body>
</html>